breeze-connect>=1.0.69
dotenv>=0.9.9
python-dotenv>=1.0.0
google-cloud-secret-manager==2.*
#neo_api_client @  git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git@v2.0.1#egg=neo_api_client
kiteconnect
google-cloud-firestore
fastapi>=0.110.0
uvicorn>=0.30.0
websockets<14.0